{% extends "base.html" %} 
{% block content %}
<!-- Header Section -->
<div class="container-fluid container-header">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <section class="content-section content-section-title-description">
        <h2>Add Recipe</h2>
      </section>
    </div>
  </div>
</div>
<div class="row card-panel container-fluid">
  <form class="col s12" action="{{ url_for('add_recipe') }}" method="POST" enctype="multipart/form-data">
    <!-- Recipe Name -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-utensils prefix"></i>
        <label for="recipe_name">Recipe Name</label>
        <input id="recipe_name" name="recipe_name" minlength="3" maxlength="100" type="text" class="validate" required>
      </div>
    </div>
    <!-- Description -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-align-left prefix"></i>
        <label for="description">Description</label>
        <textarea id="description" name="description" class="materialize-textarea"></textarea>
      </div>
    </div>

    <!-- Ingredients Section -->
    <div class="row">
      <div class="col s12">
        <h5><i class="fas fa-clipboard-list"></i> Ingredients</h5>
      </div>
    </div>
    <div id="ingredients-container">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="ingredients[]" id="ingredients_step_1" class="validate" required>
          <label for="ingredients_step_1"></label>
        </div>
      </div>
    </div>
    <!-- Add New Ingredient Button -->
    <div class="row">
      <div class="col s12">
        <button type="button" id="add-ingredient-btn" class="btn">Add Ingredient</button>
      </div>
    </div>
    <!-- Hidden Textarea for Ingredients -->
    <textarea id="ingredients-hidden" name="ingredients_text" style="display: none;"></textarea>

    <!-- Instructions Section -->
    <div class="row">
      <div class="col s12">
        <h5><i class="fas fa-clipboard-list"></i> Instructions</h5>
      </div>
    </div>
    <div id="instructions-container">
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="instructions[]" id="instruction_step_1" class="validate" required>
          <label for="instruction_step_1">Step 1</label>
        </div>
      </div>
    </div>
    <!-- Add New Step Button -->
    <div class="row">
      <div class="col s12">
        <button type="button" id="add-step-btn" class="btn">Add Step</button>
      </div>
    </div>
    <!-- Hidden Textarea for Instructions -->
    <textarea id="instructions-hidden" name="instructions_text" style="display: none;"></textarea>

    <!-- Upload Image Section -->
    <div class="row">
      <div class="input-field col s12">
        <h5><i class="fas fa-upload"></i> Upload Image <small>(required)</small></h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <!--own file upload-->
        <div class="file-upload-container d-flex align-items-center"> 
          <label for="image_file" class="file-upload-label">Choose your own image</label>
          <input type="file" id="image_file" name="image_file" class="validate file-upload-input" aria-label="Upload an image">
        </div>
        <!--use default file-->
        <div class="default-image-container d-flex align-items-center">
          <p class="mr-2">Or choose a default image:</p>
          <label>
            <input name="default_image" type="radio" value="default">
            <span>Default Image</span>
            <img src="{{ url_for('static', filename='images/default1.jpg') }}" alt="Default Image" style="width: 50px; height: auto; margin-left: 10px;">
          </label>
        </div>
      </div>
    </div>

    <!-- Category -->
    <div class="row">
      <div class="col s12">
        <h5><i class="fas fa-folder"></i> Add to a Category </h5>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select id="category_id" name="category_id" required>
          <option value="" disabled selected>Choose a Category</option>
          {% for category in categories %}
          <option value="{{ category.id }}">{{ category.category_name }}</option>
          {% endfor %}
        </select>
        <label for="category_id">Category</label>
      </div>
    </div>
    <!-- Submit Button -->
    <div class="row">
      <div class="input-field col s12 center-align">
        <button class="btn-large" type="submit">Add Recipe <i class="fas fa-plus-square right"></i></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
