{% extends "base.html" %} {% block content %}
<!-- header section -->
<div class="container-fluid container-header">
  <div class="row">
    <!-- title and description section -->
    <div class="col-lg-6 col-md-6">
      <section class="content-section content-section-title-description">
        <h2>Add Category</h2>
      </section>
    </div>
  </div>
</div>
<!--add category card-->
<div class="row card-panel">
  <form class="col s12" action="{{ url_for('add_category') }}" method="POST" enctype="multipart/form-data">
    <!--category name-->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix"></i>
        <label for="category_name">Category Name</label>
        <input id="category_name" name="category_name" minlength="3" maxlength="25" type="text" class="validate" required>
      </div>
    </div>
    <!-- Upload Image Section -->
    <div class="row">
      <div class="input-field col s12">
        <h5><i class="fas fa-upload"></i> Upload Image <small>(optional)</small></h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="file-upload-container d-flex align-items-center"> 
          <label for="image_file" class="file-upload-label">Choose your own image</label>
          <input type="file" id="image_file" name="image_file" class="validate file-upload-input" aria-label="Upload an image">
        </div>
        <div class="default-image-container d-flex align-items-center">
          <p class="mr-2">Or choose a default image:</p>
          <label>
            <input name="default_image" type="radio" value="default">
            <span>Default Image</span>
            <img src="{{ url_for('static', filename='images/default-category.jpg') }}" alt="Default Image" style="width: 50px; height: auto; margin-left: 10px;">
          </label>
        </div>        
      </div>
    </div>

    <!--add category button-->
    <div class="row">
      <div class="input-field col s12 center-align">
        <button class="btn-large" type="submit" name="action">Add Category <i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div> {% endblock %}