{% extends "base.html" %} 
{% block content %}
<!-- Header Section -->
<div class="container-fluid container-header">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <section class="content-section content-section-title-description">
        <h2>Edit Recipe</h2>
      </section>
    </div>
  </div>
</div>

<!-- Flash Messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="alert alert-info">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<div class="row card-panel container-fluid">
  <form class="col s12" action="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" method="POST" enctype="multipart/form-data">
    <!-- Recipe Name -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-utensils prefix"></i>
        <label for="recipe_name">Recipe Name</label>
        <input id="recipe_name" name="recipe_name" minlength="3" maxlength="100" type="text" class="validate" value="{{ recipe.recipe_name }}" required>
      </div>
    </div>
    <!-- Description -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-align-left prefix"></i>
        <label for="description">Description</label>
        <textarea id="description" name="description" class="materialize-textarea">{{ recipe.description }}</textarea>
      </div>
    </div>

    <!-- Ingredients Section -->
    <div class="row">
      <div class="col s12">
        <h5><i class="fas fa-clipboard-list"></i> Ingredients</h5>
      </div>
    </div>
    <div id="ingredients-container">
      {% for ingredient in recipe.ingredients.split(', ') %}
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="ingredients[]" class="validate" value="{{ ingredient }}" required>
          <label></label>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Add New Ingredient Button -->
    <div class="row">
      <div class="col s12">
        <button type="button" id="add-ingredient-btn" class="btn">Add Ingredient</button>
      </div>
    </div>

    <!-- Instructions Section -->
    <div class="row">
      <div class="col s12">
        <h5><i class="fas fa-clipboard-list"></i> Instructions</h5>
      </div>
    </div>
    <div id="instructions-container">
      {% for step in recipe.instructions %}
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="instructions[]" value="{{ step }}" class="validate" required>
          <label>Step {{ loop.index }}</label>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Add New Step Button -->
    <div class="row">
      <div class="col s12">
        <button type="button" id="add-step-btn" class="btn">Add Step</button>
      </div>
    </div>

    <!-- Upload Image Section -->
    <div class="row">
      <div class="input-field col s12">
        <h5><i class="fas fa-upload"></i> Upload Image <small>(optional)</small></h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="file-upload-container d-flex align-items-center"> 
          <label for="image_file" class="file-upload-label">Choose your own image</label>
          <input type="file" id="image_file" name="image_file" class="validate file-upload-input" aria-label="Upload an image">
        </div>
        <div class="default-image-container d-flex align-items-center">
          <p class="mr-2">Or choose a default image:</p>
          <label>
            <input name="default_image" type="radio" value="default" {% if recipe.image_url == url_for('uploaded_file', filename='default1.jpg') %} checked {% endif %}>
            <span>Default Image</span>
            <img src="{{ url_for('static', filename='images/default1.jpg') }}" alt="Default Image" style="width: 50px; height: auto; margin-left: 10px;">
          </label>
        </div>
        {% if recipe.image_url %}
          <div class="current-image-container">
            <h6>Current Image:</h6>
            <img src="{{ recipe.image_url }}" alt="Current Recipe Image" style="width: 50px; height: auto; margin-left: 10px;">
          </div>
        {% endif %}
      </div>
    </div>

    <!-- Category -->
    <div class="row">
      <div class="col s12">
        <h5><i class="fas fa-folder"></i> Add to a Category </h5>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select id="category_id" name="category_id" required>
          <option value="" disabled>Choose a Category</option>
          {% for category in categories %}
          <option value="{{ category.id }}" {% if category.id == recipe.category_id %} selected {% endif %}>{{ category.category_name }}</option>
          {% endfor %}
        </select>
        <label for="category_id">Category</label>
      </div>
    </div>
    <!-- Submit Button -->
    <div class="row">
      <div class="input-field col s12 center-align">
        <button class="btn-large" type="submit">Update Recipe <i class="fas fa-plus-square right"></i></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}

