{% extends "base.html" %}
{% block content %}
<!-- Hero Image Section -->
<div class="hero-image">
    <div class="hero-text">
        <h1>My Own Recipe App!</h1>
        <p>All of your favourite recipes. All in one place!</p>
    </div>
</div>
<h3 class="center-align">Recipes</h3>

<!--search bar-->
<div class="row">
    <form method="GET" action="{{ url_for('search_recipes') }}">
        <div class="input-field">
            <input type="text" id="search" name="query" placeholder="Search for recipes...">
            <button type="submit" class="btn">Search</button>
        </div>
    </form>
</div>
<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l3">
      <div class="card card-recipe sticky-action">
        <div class="card-image">
          <img src="{{ recipe.image_url }}">
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">loop</i></a>
        </div>
        <div class="card-content">
            <div class="title-container">
                <span class="card-title">
                    {{ recipe.recipe_name }}
                </span>
            </div>
        </div>
        <div class="card-action center-align">
            <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn">Edit</a>
            <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn">Delete</a>
        </div>
        <div class="card-action center-align">
            <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}" class="btn">View Recipe</a>
        </div>
        <div class="card-reveal center-align">
            <span class="card-title grey-text text-darken-4">
                ingredients
            </span>
            <p>{{ recipe.ingredients | replace('\n', '<br>') }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
  {% endblock %}