{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Recipes</h3>

<!--search bar-->
<div class="row">
    <form method="GET" action="{{ url_for('search_recipes') }}">
        <div class="input-field">
            <input type="text" id="search" name="query" placeholder="Search for recipes...">
            <button type="submit" class="btn">Search</button>
        </div>
    </form>
</div>

<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l3">
        <div class="card card-recipe sticky-action">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ recipe.image_url }}">
            </div>
            <div class="card-content">
                <span class="card-title grey-text text-darken-4">
                    {{ recipe.recipe_name }}
                </span>
                <p>{{ recipe.description }}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe.id) }}" class="btn">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="btn">Delete</a>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    Ingredients
                </span>
                <p>{{ recipe.ingredients | replace('\n', '<br>') }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

