{% extends "base.html" %} 
{% block content %}
<div class="container-fluid container-header">
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <section class="content-section content-section-title-description">
        <h2>View Recipe</h2>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="card z-depth-2 view-recipe-card">
    <div class="recipe-card-band"></div>
    <div class="card-content">
      <div class="row">
        <div class="col s12 m6 l4" style="text-align: center;">
          <div class="section">
            <h3 class="recipe-title">{{ recipe.recipe_name }}</h3>
            <p class="recipe-text">{{ recipe.description }}</p>
          </div>
        </div>
        <div class="col s12 m6 l8" style="display: flex; justify-content: center; align-items: center;">
          <div class="section" style="text-align: center;">
            {% if recipe.image_url %}
              <img src="{{ recipe.image_url }}" class="responsive-img" alt="{{ recipe.recipe_name }}">
            {% else %}
              <p>No image available</p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <div class="col s12 m6 l4">
          <div class="section">
            <h4 class="recipe-section-title">Ingredients</h4>
            <ul>
              {% for ingredient in recipe.ingredients.split(', ') %}
                <li>{{ ingredient.strip() }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        <div class="col s12 m6 l8">
          <div class="section">
            <h4 class="recipe-section-title">Instructions</h4>
            <ol>
              {% for instruction in recipe.instructions.split('\n') %}
              <li>
                {{ instruction.strip() }}
              </li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

