body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*card elements*/
.card-image img {
    width: 100%;
    height: 200px; /* Adjust to your desired image height */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
}
.card-recipe {
  height: 400px; /* Set a consistent card height */
}
.card-category {
  height: 350px; /* Set a consistent card height */
}
.card-content, .card-reveal {
  overflow-y: auto; /* Ensures content doesn't overflow outside the card */
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate long titles with ellipsis */
}

/* Quick Look Reveal on Hover */
.card:hover .card-reveal {
  display: block;
  transform: translateY(0);
  opacity: 1;
  z-index: 1;
}

.card .card-reveal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


