:root {
  --main-color: #0A605F;
  --secondary-color: #F44336;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  
}
h1, h2, h3 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

main {
  flex: 1 0 auto;

}
.container-main {
  width: 100%;
}

.container-header {
  background-color: var(--main-color);
  border-bottom: 1px solid #F44336;
  color: white;
  padding-top: 35px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.container-header h1 {
  text-align: left;
  font-size: 50px;
}
.container-header p {
  font-family: var(--heading-font-family);
  text-align: right;
  font-size: 20px;
}

.section-page-heading {
  background-color: #F44336;
}

/* Navbar styling */
.nav-wrapper {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 0 20px; /* Adds padding on the left and right */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Adds a slight shadow */
}

.brand-logo {
  font-size: 1.5rem; /* Adjust the size of the brand logo text */
  margin-left: 20px; /* Adds space between the logo and the left edge */
}

.nav-wrapper ul {
  margin-right: 20px; /* Adds space between the navigation links and the right edge */
}

.nav-wrapper ul li a {
  color: #fff; /* White text for nav links */
  padding: 0 15px; /* Adds space between the links */
}

.nav-wrapper ul li a:hover {

  border-radius: 4px; /* Adds a slight rounding to the corners */
}

.sidenav-trigger {
  color: #fff; /* White color for the mobile menu icon */
}

/* Make the navbar fixed */
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

/* Mobile sidenav styling */
.sidenav {
  background-color: #000; /* Black background */
}

.sidenav a {
  color: #fff; /* White text for sidenav links */
}
.sidenav li>a {
  color: #fff; /* White text for sidenav links */
}

.sidenav a:hover {
  background-color: #333; /* Darker shade on hover */

}


/* card  element styles */
.card {
  border-radius: 20x;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-image img {
  width: 100%;
  height: 200px; /* Adjust to your desired image height */
  object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
}

.card .card-title .material-icons,
.card .card-reveal .fas.fa-times-circle {
  cursor: pointer; /* Ensure the icon indicates clickability */
}
.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* Truncate long titles with ellipsis */
}

.card .card-reveal {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: 1;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.card.active .card-reveal {
  display: block;
  transform: translateY(0);
}

.card-image .btn-floating {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}



